@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --ad-primary-color: #98bb35;
}

@media screen and (min-width: 800px) {
  main {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr 10ch 65ch 10ch 1fr;
  }
}

main > * {
  grid-column: 3 / span 1;
}

header {
  text-align: left;
}

header h1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.graph {
  height: 90vh;
  max-width: 100vw;
  grid-column: 1 / -1;
}

.graph--tree-map {
  grid-column: 2 / span 3;
}

.foia-list__headline {
  margin-bottom: 0.25em;
}

.foia-list__filters-form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.foia-list label {
  display: flex;
  margin-top: 1em;
  font-size: 0.85em;
  font-weight: 500;
  flex-flow: column nowrap;
}

.foia-list__item-table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-spacing: 0.5em;
  font-size: small;
}

.foia-list__item-table td,
.foia-list__item th {
  padding: 0.5em;
}

.foia-list__item-headline {
  font-size: 1.2em;
  margin-bottom: 0.25em;
}

@media (min-width: 768px) {
  .foia-list__item-table {
    border-spacing: 1.5em;
    font-size: medium;
  }
}

.torch-icon {
  width: 1em;
  height: 1em;
}
