@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --ad-primary-color: #98bb35;
  --ad-secondary-color: #ccdd9a;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 800px) {
  main {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr 10ch 65ch 10ch 1fr;
  }
}

main > * {
  grid-column: 3 / span 1;
}

header {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.drawer {
  position: fixed;
  width: 100vw;
  background-color: var(--ad-secondary-color);
  min-height: 30vh;
  left: 0;
  top: 0;
  z-index: 200;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.drawer.open {
  transform: translateY(0);
}

.drawer.closed {
  transform: translateY(-100%);
}

.hamburger_menu_container {
  z-index: 500;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.hamburger_menu_container:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

header h1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.graph {
  height: 90vh;
  max-width: 100vw;
  grid-column: 1 / -1;
}

.graph--tree-map {
  grid-column: 2 / span 3;
}

.foia-list__item-table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-spacing: 0.5em;
  font-size: small;
}

.foia-list__item-table td,
.foia-list__item th {
  padding: 0.5em;
}

.foia-list__item-headline {
  font-size: 1.2em;
  margin-bottom: 0.25em;
}

@media (min-width: 768px) {
  .foia-list__item-table {
    border-spacing: 1.5em;
    font-size: medium;
  }
  .drawer.open {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }

  .navigation_items {
    padding: 0 3em;
  }
  .navigation_items ul {
    float: right;
  }

  .hamburger_menu_container.open {
    position: fixed;
    padding-right: 2em;
  }
}

.torch-icon {
  width: 1em;
  height: 1em;
}
